Package: com.caughtinflux.phototoapp
Name: Open In For Photos
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Send photos and videos to other apps directly from the Photos/Camera app.
Maintainer: flux
Author: flux
Section: Tweaks
